<section class="module module-dark">
  <div class="container">

    <!-- Testimonials-->
    <div class="row">
      <div class="col-md-8 m-auto">
        <div class="spacer m-t-140"></div>
        <div class="tms-slides owl-carousel" data-carousel-options="{&quot;autoPlay&quot;: &quot;5000&quot;}">
          <div class="tms-item">
            <div class="tms-icons">
              <h2 class="icon-chat"></h2>
            </div>
            <div class="tms-content">
              <blockquote>
                <p>If you want to know what a man's like, take a good look at how he treats his inferiors, not his equals.</p>
              </blockquote>
            </div>
            <div class="tms-author">
              <h6>J.K. Rowling</h6>
            </div>
          </div>
          <div class="tms-item">
            <div class="tms-icons">
              <h2 class="icon-chat"></h2>
            </div>
            <div class="tms-content">
              <blockquote>
                <p>To be yourself in a world that is constantly trying to make you something else is the greatest accomplishment.</p>
              </blockquote>
            </div>
            <div class="tms-author">
              <h6>Ralph Waldo Emerson</h6>
            </div>
          </div>
          <div class="tms-item">
            <div class="tms-icons">
              <h2 class="icon-chat"></h2>
            </div>
            <div class="tms-content">
              <blockquote>
                <p>Imperfection is beauty, madness is genius and it's better to be absolutely ridiculous than absolutely boring.</p>
              </blockquote>
            </div>
            <div class="tms-author">
              <h6>Marilyn Monroe</h6>
            </div>
          </div>
        </div>
        <div class="spacer m-b-140"></div>
      </div>
    </div>
    <!-- Testimonials end-->

  </div>
</section>
