<section class="module" id="services">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="icon-box">
          <div class="icon-box-icon"><span class="icon-cloud"></span></div>
          <div class="icon-box-title">
            <h5>AWS Certified Developer</h5>
          </div>
          <div class="icon-box-content">
            <p>Gaining certification </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="icon-box">
          <div class="icon-box-icon"><span class="icon-mobile"></span></div>
          <div class="icon-box-title">
            <h5>Fully Responsive</h5>
          </div>
          <div class="icon-box-content">
            <p>Foundry offers you the modularity and ease-of-use of a template with the style and aesthetic of contemporary, bespoke web design.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="icon-box">
          <div class="icon-box-icon"><span class="icon-chat"></span></div>
          <div class="icon-box-title">
            <h5>Friendly Support</h5>
          </div>
          <div class="icon-box-content">
            <p>Foundry offers you the modularity and ease-of-use of a template with the style and aesthetic of contemporary, bespoke web design.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="icon-box">
          <div class="icon-box-icon"><span class="icon-gears"></span></div>
          <div class="icon-box-title">
            <h5>Unlimited Colors</h5>
          </div>
          <div class="icon-box-content">
            <p>Foundry offers you the modularity and ease-of-use of a template with the style and aesthetic of contemporary, bespoke web design.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="icon-box">
          <div class="icon-box-icon"><span class="icon-strategy"></span></div>
          <div class="icon-box-title">
            <h5>Unlimited Headers</h5>
          </div>
          <div class="icon-box-content">
            <p>Foundry offers you the modularity and ease-of-use of a template with the style and aesthetic of contemporary, bespoke web design.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="icon-box">
          <div class="icon-box-icon"><span class="icon-linegraph"></span></div>
          <div class="icon-box-title">
            <h5>Google Web Fonts</h5>
          </div>
          <div class="icon-box-content">
            <p>Foundry offers you the modularity and ease-of-use of a template with the style and aesthetic of contemporary, bespoke web design.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
