<section class="module" id="services">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="icon-box">
          <div class="icon-box-icon"><span class="icon-cloud"></span></div>
          <div class="icon-box-title">
            <h5>Cloud</h5>
          </div>
          <div class="icon-box-content">
            <p>Gaining certification </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="icon-box">
          <div class="icon-box-icon"><span class="icon-adjustments"></span></div>
          <div class="icon-box-title">
            <h5>Continuous Integration</h5>
          </div>
          <div class="icon-box-content">
            <p>Foundry offers you the modularity and ease-of-use of a template with the style and aesthetic of contemporary, bespoke web design.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="icon-box">
          <div class="icon-box-icon"><span class="icon-gears"></span></div>
          <div class="icon-box-title">
            <h5>Spring Framework</h5>
          </div>
          <div class="icon-box-content">
            <p>Foundry offers you the modularity and ease-of-use of a template with the style and aesthetic of contemporary, bespoke web design.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="icon-box">
          <div class="icon-box-icon"><span class="icon-scope"></span></div>
          <div class="icon-box-title">
            <h5>Scrum</h5>
          </div>
          <div class="icon-box-content">
            <p>Foundry offers you the modularity and ease-of-use of a template with the style and aesthetic of contemporary, bespoke web design.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="icon-box">
          <div class="icon-box-icon"><span class="icon-linegraph"></span></div>
          <div class="icon-box-title">
            <h5>Search</h5>
          </div>
          <div class="icon-box-content">
            <p>Foundry offers you the modularity and ease-of-use of a template with the style and aesthetic of contemporary, bespoke web design.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="icon-box">
          <div class="icon-box-icon"><span class="icon-desktop"></span></div>
          <div class="icon-box-title">
            <h5>Front End Development</h5>
          </div>
          <div class="icon-box-content">
            <p>Foundry offers you the modularity and ease-of-use of a template with the style and aesthetic of contemporary, bespoke web design.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
