<section class="module module-gray" id="blog">
  <div class="container">
    <div class="row blog-grid" style="margin-top: -200px;">
      <div class="col-md-4 post-item">

        <!-- Post-->
        <article class="post">
          <div class="post-preview"><a href="#"><img src="assets/images/blog/1.jpg" alt=""></a>
            <div class="post-category"><a href="#">Lifestyle</a></div>
          </div>
          <div class="post-wrapper">
            <div class="post-header">
              <h2 class="post-title"><a href="blog-single.html">New Trends</a></h2>
            </div>
            <div class="post-content">
              <p>Up maids me an ample stood given. Certainty say suffering his him collected intention promotion. Hill sold ham men made lose case.</p>
            </div>
          </div>
          <div class="post-info"><a href="#">Mike Ross</a> on February 14, 2017</div>
        </article>
        <!-- Post end-->
      </div>
      <div class="col-md-4 post-item">

        <!-- Post-->
        <article class="post">
          <div class="post-preview"><a href="#"><img src="assets/images/blog/3.jpg" alt=""></a>
            <div class="post-category" data-background-color="#ffbb44"><a href="#">Science</a></div>
          </div>
          <div class="post-wrapper">
            <div class="post-header">
              <h2 class="post-title"><a href="blog-single.html">Behind the color</a></h2>
            </div>
            <div class="post-content">
              <p>Up maids me an ample stood given. Certainty say suffering his him collected intention promotion. Hill sold ham men made lose case.</p>
            </div>
          </div>
          <div class="post-info"><a href="#">Mike Ross</a> on February 14, 2017</div>
        </article>
        <!-- Post end-->
      </div>
      <div class="col-md-4 post-item">

        <!-- Post-->
        <article class="post">
          <div class="post-preview"><a href="#"><img src="assets/images/blog/5.jpg" alt=""></a>
            <div class="post-category" data-background-color="#4CAF50"><a href="#">Business</a></div>
          </div>
          <div class="post-wrapper">
            <div class="post-header">
              <h2 class="post-title"><a href="blog-single.html">Bicycles</a></h2>
            </div>
            <div class="post-content">
              <p>Up maids me an ample stood given. Certainty say suffering his him collected intention promotion. Hill sold ham men made lose case.</p>
            </div>
          </div>
          <div class="post-info"><a href="#">Mike Ross</a> on February 14, 2017</div>
        </article>
        <!-- Post end-->
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <div class="spacer m-b-30"></div><a class="btn btn-brand" href="#"><span>View All Posts</span></a>
        </div>
      </div>
    </div>
  </div>
</section>
