<section class="module" id="profile">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="m-title c-align">
        <h2>Daniel Raleway</h2>
        <h6>Visual Designer & Front-end Developer</h6>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <p><img src="assets/images/im.jpg" alt=""></p>
    </div>
    <div class="col-md-4">
      <h5>Profesional Profile</h5>
      <p>Map where your photos were taken and discover local points of interest. Map where your photos. Map where your photos were taken and discover local points of interest. Map where your photos.</p>
      <p>Map where your photos were taken and discover local points of interest. Map where your photos. Map where your photos were taken and discover local points of interest. Map where your photos.</p>
    </div>
    <div class="col-md-4">
      <h5>My Skills</h5>
      <div class="progress-item">
        <div class="progress-title">Gulp</div>
        <ngb-progressbar type="info" [value]="50" [striped]="true"></ngb-progressbar>
      </div>
      <div class="progress-item">
        <div class="progress-title">UX Design</div>
        <ngb-progressbar type="success" [value]="80" [striped]="true"></ngb-progressbar>
      </div>
      <div class="progress-item">
        <div class="progress-title">HTML / CSS3 / SASS</div>
        <ngb-progressbar type="warning" [value]="50" [striped]="true"></ngb-progressbar>
      </div>
      <div class="progress-item">
        <div class="progress-title">Gulp</div>
        <ngb-progressbar type="danger" [value]="20" [striped]="true"></ngb-progressbar>
      </div>
    </div>
  </div>
</div>
</section>
